*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Prompt', sans-serif;
}
/* Styling Navbar */
body{
    height: 100vh;
    width: 100%;
    font-size: 1rem;
    color: black;
    overflow: visible;
}


header{
    position: sticky;
    top: 0;
    background-color: white;
}
header nav{
    width: 100%;
    display: flex;
    margin-top: .5rem;
    align-items: center;
}
/* removing bullets and underlines  */
header nav ul li{
    list-style: none;
}
header nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 800;
}
/* aligning in one line */
    
.left-side{
    flex: 1;
}

.left-side ul{
    display: flex;   
    font-size: 0.7rem;
    margin:0 20px;
}
.left-side ul li:first-child{
    margin-right: 1.5rem;
}
.left-side-resp{
    display: none;
}
.logo{
    flex: 1;
}

.logo .logo-resp{
    display: none;
}

.right-side ul{
    display: flex;
    width: 4rem;
    justify-content: space-between;
    margin: 0 20px;
}
/* /navbar completed */

.bkg-video-container{
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 88vh;
    background-color: rgba(0, 0, 0, 0.3);
    /* z-index: auto;    */
} 
#back-video{
    position: relative;
    overflow: hidden; 
    right: 0;
    top: 0;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat ;
    background-position: 50% !important;
    height: 100%;
    object-fit: cover;
    z-index: -1;
} 
/* heading for the video */
.content{
    text-align: center;
    position: absolute;
    width: 100%;
    display: inline;
}
.content h1{
    color: white;
    display: inline-block;
    font-size: 2.5rem;
    word-spacing: 3px;
    letter-spacing: 2px;
    width: 60%;
}
.search--bar-container{
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
}
.search-bar{
    width: 60%;
    max-width: 800px;
    height:5.5rem;
    background-color: white;
    display: flex;
    align-items: center;
}
.search-bar input{
    flex:10;
    background-color: transparent;
    border:none;
    outline: none;
    padding-left: 20px;
}

.search-bar button{
    flex:2;
    margin: 0 20px;
    padding:10px 10px;
    background-color: rgba(153, 129, 82,0.7);
    border: none;
    font-size: 0.7rem;
    color: white;   
}
.search-bar button:hover{
    cursor: pointer;
    background-color:  rgba(153, 129, 82,1);
}
.search-bar a{
    font-size: 0.7rem;
}
.search-bar a:hover{
    cursor: pointer;
    font-weight: 900;
}
/* Main Video done */

/* page 2 starter */
.advertisement{
    display: flex;
    /* width: 100%; */
    height: 88vh;
    /* flex-wrap: wrap; */
    margin: 100px 60px;
}


.advertisement--box{
    flex: 1;
    min-width: 0;
    margin: 0 15px;
    box-sizing: border-box;
    transition: flex-shrink;
    position: relative;
    transition: transform 0.3s ease;
    /* border: 1px solid black; */
}

.advertisement--box:hover{
    transform: scale(0.94);
}
.advertisement--box a{
    text-decoration: none;
    color: rgba(0, 0,0, 0.9);
    letter-spacing: 2px;
    word-spacing: 2px;
}
.advertisement--box-img{
    max-width: 300px;
    height: auto;
    position: relative;
    transition: transform 0.3s ease;
    /* transition-property: width;
    transition-duration: 12s;
    transition-delay: 2s;
    transition-timing-function: ease-out; */
}

/* going inside the boxes */
.advertisement--box-para{
    font-size: 1.5rem;
    letter-spacing: 1px;
}
.advertisement--box-para span{
    font-weight: 800;
}
.advertisement-box-desc{
    font-size: 1rem;
    font-weight: 100;
    margin-top: 15px;
    margin-bottom: 25px;
}
#advertisement--box-button{
    text-decoration: none;
    padding: 15px 30px;
    letter-spacing: 2px;
    color: black;
    font-size: 0.7rem;
    font-weight: 800;
    background-color: rgb(42, 49, 46,0.1);
}
#advertisement--box-button:hover{
    color: white;
    background-color: black;
}

/* rest of the boxes */
.advertisement-box-desc-3{
    margin-top: 14px;
    word-spacing: 0;
    letter-spacing: 0;
    font-size: 0.9rem;
    margin-bottom: 30px;
}
.advertisement-box-Learn-More{
    font-size:.9rem;
    color: rgba(153, 129, 82,1); 
}
.advertisement--box h3{
    margin-top: 20px;
}

/* page 3 starts here */

.double--slider{
    display: flex;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    object-fit: cover;

}
.slider--first-half{
    flex: 1;
    min-width: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgba(116,116,109,0.45);
    color: white;
    letter-spacing: 2px;
    word-spacing: 2px;
}
.slider--first-half h3{
    margin-bottom: 10px;
}
.first-half-para{
    max-width: 60%;
    text-align: center;
    letter-spacing: 0;
    word-spacing: 0;
    margin-bottom: 20px;
}
.slider--first-half a{
    text-decoration: none;
    color: white;
    background-color: #2A312E;
    padding: 15px 25px;
    font-weight: 900;
    font-size: 0.7rem;
}
.slider--first-half a:hover{
    background-color: #1b1d1c;
}
.slider--second-half{
    max-width: 50%;
    overflow: hidden;

}
.second-half-img{
    flex: 1;
    min-width: 0;
    max-height: 100%;
    object-fit: cover;
}

/* section 5 */

.section5--container{
    display: flex;
    flex-wrap: wrap;
    background-color:rgba(116,116,109,0.45);
    justify-content: space-around;
    
}
.section5--container a{
    text-decoration: none;
    color: black;

    word-spacing: 2px;
    letter-spacing: 1px;
}
.section5-sub-container{
    z-index: 1;
    box-shadow: 5px 20px 10px  #888888;
    width: 40%;
    height: auto;
    margin: 20px;
    
    position: relative;
    transition: transform 0.4s ease;

}
.section5-sub-container:hover{
    transform:translateY(-10px);
}
.section5-img{
    width: 100%;
    height: auto;
}
.section-5-desc{
    background-color: white;
    margin-top: 0;
    width: 100%;
    height: 6rem;
    padding: 8px 10px;
}
/* (31, 34, 33) */
/* footer begins here */
@keyframes colorChange {
    0% { background-color: rgb(41, 43, 38); }
    25% { background-color: rgb(88, 85, 85); }
    50% { background-color: rgb(41, 43, 38); }
    75% { background-color:rgb(88, 85, 85);}
    100%{background-color: rgb(41, 43, 38);}
  }
.footer-container{
    background-color:rgb(41, 43, 38);
    animation: colorChange 5s infinite;
}

.footer--up{
    display: flex;
    justify-content: space-around;
    padding-top: 8rem;
    
}

.footer--up-first-icons{
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}
.footer--up-first-icons a{
    text-decoration: none;
    color: black;
}
.footer--up-first-icons a:hover{
    font-size: 1.1rem;
}

.footer--up-second h4{
    color:rgba(153, 129, 82,1);
    margin-bottom: 25px;
}
.footer--up-second-list{
    list-style: none;
    font-size: 0.8rem;
}
.footer--up-second-list  li{
    margin-top: 15px;
} 
.footer--up-second-list li a{
    color: white;
    text-decoration: none;

}
.footer-fourth_first table{
    color: white;
}
.footer-fourth_first table td{
    padding-right: 5px;
    font-size: 0.8rem;
}
.footer--down{
    background-color: rgb(31, 34, 33);
    color: white;
    font-size: 0.76rem;
    padding: 20px 30px;
}
.footer--down--text{
    display: flex;
}
.footer--down--text a{
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    margin-right: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}
.footer--down--text a:hover{
    color: rgba(153, 129, 82,1);;
}
.last{
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
.last p:first-child{
    margin-right: 10px;
    color: #888888;
}
.last span{
    font-size: 1rem;
}
.footer-fourth_third{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.footer-fourth_third img{
    height: 25px;
    width: auto;
}


/* responsiveness */
/* Navbar should change after 860 px */
@media screen and (max-width: 860px) {
    .left-side-web-des{
        display: none;
    }

    .left-side-resp{
        display: block;
    }

    .logo .logo-web{
        display: none;
    }

    .logo .logo-resp{
        display: block;
        margin-top:2px;
        margin-bottom: 10px;
    }

    .right-side ul li:first-child{
        visibility: hidden;
    }
  }